# Create a copy of this file inside the project root directory. Remove the
# .example at the end.

BOT_PREFIX=YOUR_BOT_PREFIX_HERE
TOKEN=YOUR_BOT_TOKEN_HERE
APPLICATION_ID=YOUR_APPLICATION_ID_HERE
OWNERS=123456789,987654321
