# Create a copy of this file inside the project root directory. Remove the
# .example at the end.

BOT_TOKEN=your_bot_token
DATABASE_URI=postgresql+asyncpg://[userspec@][hostspec][/dbname][?paramspec]
